@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: pfdintextcondpro;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"), url("../fonts/pfdintextcondpro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.no-webp body {
  background: url("../img/arenda_avto_v_reykyavike.jpeg") 0 0 no-repeat; }

body {
  font-family: CormorantUpright;
  font-size: 50px;
  background-color: aqua;
}

body span {
  color: rgb(27, 83, 39);
}

@media (max-width: 768px) {
  span {
    font-size: 20px;
  }

  body {
    background-color: green;
  }
}

.webp body { background: url(../img/arenda_avto_v_reykyavike.webp) 0 0 no-repeat; }