header.header
    .container
        .header__wrap.flex-wrap
            a.header__logo(href="#")
                img(src="@img/logo.svg", alt="Logo")
            .header__right.flex-wrap
                .header__nav-wrap
                    nav.header__nav
                        ul.header__nav-list.flex-wrap
                            li.header__nav-item
                                a.header__nav-link(href="#") Студія
                            li.header__nav-item
                                a.header__nav-link(href="#") Портфоліо
                            li.header__nav-item
                                a.header__nav-link(href="#") Контакти
                .header__contacts.flex-wrap
                    .header__contacts-email
                        a.header__contacts-email-link(href="mailto:info@devstudio.com") 
                            svg.icon.icon-email
                                    use(xlink:href='@img/icons/icons.svg#email')
                            span info@devstudio.com
                    .header__contacts-phone
                        a.header__contacts-phone-link(href="tel:+38 096 111 11 11") 
                            svg.icon.icon-smartphone
                                    use(xlink:href='@img/icons/icons.svg#smartphone')
                            span +38 096 111 11 11



















