.footer {
    padding: 67px 0;
    background: $dark-grey;
    &__logo {
        margin-bottom: 24px;
    }
    &__address {
        line-height: 24px;
        color: $white;
        margin-bottom: 6px;
        display: block;
    }
    &__email, &__phone {
        line-height: 24px;
        color: rgba(255, 255, 255, 0.6);
        display: block;
    }
    &__email {
        margin-bottom: 6px;
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        margin: 5px 0 20px;
        display: block;
    }
    &__soc-link {
        width: 44px;
        height: 44px;
        line-height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        text-align: center;
        position: relative;
        margin-right: 10px;
        display: block;
        transition: all .3s ease;
        color: $white;
        &:hover {
            color: $white;
            background-color: $blue;
        }
    }
    &__soc-item:last-of-type {
        .team__soc-link {
            margin-right: 0;
        }
    }
    &__subscribe-form .input-field {
        max-width: 358px;
        width: 100%;
        margin-right: 12px;
    }
    &__subscribe-btn {
        min-width: 200px;
    }
    .icon-send {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
    }
    &__col-1 {
        width: 53%;
        padding-right: 15px;
    }
    &__col-2 {
        width: 47%;
    }
}