section.banner(style="background-image:url(@img/banner.jpeg)")
    .container
        .banner__info
            .banner__title Ефективні рішення для вашого бізнесу
            a.banner__btn.btn.popup-with-form(href='#test-form') Замовити послугу
