section.clients
    .container
        .heading-h2 Постійні клієнти
        .clients__wrap
            a.clients__item(href="#")
                svg.icon.icon-client1
                    use(xlink:href="@img/icons/icons.svg#client1")
            a.clients__item(href="#")
                svg.icon.icon-client2
                    use(xlink:href="@img/icons/icons.svg#client2")
            a.clients__item(href="#")
                svg.icon.icon-client3
                    use(xlink:href="@img/icons/icons.svg#client3")
            a.clients__item(href="#")
                svg.icon.icon-client4
                    use(xlink:href="@img/icons/icons.svg#client4")
            a.clients__item(href="#")
                svg.icon.icon-client5
                    use(xlink:href="@img/icons/icons.svg#client5")
            a.clients__item(href="#")
                svg.icon.icon-client6
                    use(xlink:href="@img/icons/icons.svg#client6")