section.features
    .container
        .features__wrap
            .features__item
                .features__img
                    img(src="@img/antenna.svg", alt="img1")
                span.features__title Увага до деталей 
                span.features__description Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
            .features__item
                .features__img
                    img(src="@img/clock.svg", alt="img2")
                span.features__title Пунктуальність
                span.features__description Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
            .features__item
                .features__img
                    img(src="@img/diagram.svg", alt="img3")
                span.features__title Планування
                span.features__description Так само консультація з широким активом значною мірою зумовлює.
            .features__item
                .features__img
                    img(src="@img/astronaut.svg", alt="img4")
                span.features__title Сучасні технології
                span.features__description Значимість цих проблем настільки очевидна, що реалізація планових завдань.
            