section.services
    .container
        .heading-h2 Чим ми займаємося
        .services__wrap
            a.services__item(href="#")
                .services__img
                    img(src="@img/services1.jpeg", alt="servicesimg1")
                span.services__title Десктопні додатки
            a.services__item(href="#")
                .services__img
                    img(src="@img/services2.jpeg", alt="servicesimg2")
                span.services__title Мобільні додатки
            a.services__item(href="#")
                .services__img
                    img(src="@img/services3.jpeg", alt="servicesimg3")
                span.services__title Дизайнерські рішення