section.team
    .container
        .heading-h2 Наша команда
        .team__wrap
            .team__item
                .team__img
                    img(src="@img/team1.jpeg", alt="teamimg1")
                .team__info
                    span.team__name Ігор Дем'яненко
                    span.team__position Product Designer
                    ul.team__soc-list.flex-wrap
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-instagram
                                    use(xlink:href="@img/icons/icons.svg#instagram")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-tw
                                    use(xlink:href="@img/icons/icons.svg#tw")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-fb
                                    use(xlink:href="@img/icons/icons.svg#fb")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-linkedin
                                    use(xlink:href="@img/icons/icons.svg#linkedin")
            .team__item
                .team__img
                    img(src="@img/team2.jpeg", alt="teamimg2")
                .team__info
                    span.team__name Ольга Рєпіна
                    span.team__position Frontend Developer
                    ul.team__soc-list.flex-wrap
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-instagram
                                    use(xlink:href="@img/icons/icons.svg#instagram")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-tw
                                    use(xlink:href="@img/icons/icons.svg#tw")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-fb
                                    use(xlink:href="@img/icons/icons.svg#fb")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-linkedin
                                    use(xlink:href="@img/icons/icons.svg#linkedin")
            .team__item
                .team__img
                    img(src="@img/team3.jpeg", alt="teamimg3")
                .team__info
                    span.team__name Микола Тарасов
                    span.team__position Marketing
                    ul.team__soc-list.flex-wrap
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-instagram
                                    use(xlink:href="@img/icons/icons.svg#instagram")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-tw
                                    use(xlink:href="@img/icons/icons.svg#tw")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-fb
                                    use(xlink:href="@img/icons/icons.svg#fb")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-linkedin
                                    use(xlink:href="@img/icons/icons.svg#linkedin")
            .team__item
                .team__img
                    img(src="@img/team4.jpeg", alt="teamimg4")
                .team__info
                    span.team__name Михайло Єрмаков
                    span.team__position UI Designer
                    ul.team__soc-list.flex-wrap
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-instagram
                                    use(xlink:href="@img/icons/icons.svg#instagram")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-tw
                                    use(xlink:href="@img/icons/icons.svg#tw")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-fb
                                    use(xlink:href="@img/icons/icons.svg#fb")
                        li.team__soc-item
                            a.team__soc-link(href="#" target="_blank" rel="nofollow")
                                svg.icon.icon-linkedin
                                    use(xlink:href="@img/icons/icons.svg#linkedin")