include html/_global_mixins
doctype html
html
    head
        include html/_head
    body.main-page
        //- wrapper start
        .wrapper
            //- header SECTION
            include html/_header
            //- header SECTION
            main.main
               | lets start
            i.icon.icon-check

            //- footer
            include html/_footer
        include html/_footer-include