include html/_global_mixins
doctype html
html
    head
        include html/_head
    body.main-page
        //- wrapper start
        .wrapper
            //- header SECTION
            include html/_header
            //- header SECTION
            main.main
               include html/templates/_banner
               include html/templates/_features
               include html/templates/_services
               include html/templates/_team
               include html/templates/_clients
            //- footer
            include html/_footer
        include html/_footer-include
        include html/_pop-ups