@import "mixins";

*, :after, :before {
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
}

html {
  overflow: visible;
}

.wrapper, body.noscroll {
  overflow: hidden;
}

body {
  background: $white;
  min-width: 320px;
  color: $primary-text;
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .03em;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.heading-h1, .heading-h2, .heading-h3, .heading-h4, b, h1, h2, h3, h4, strong {
  font-weight: 700;
  font-style: normal;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.flex-wrap {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,iframe,img {
  border: 0;
}

fieldset,form,img {
  border-style: none;
}

nav,ul {
  list-style: none;
}

a:focus,button:focus,input:focus,select:focus,textarea:focus {
  outline: 0!important;
}

textarea {
  resize: none;
  padding: 15px;
  height: 140px;
}

input, select, textarea {
  margin: 0;
  padding: 0 16px;
  box-shadow: none;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  vertical-align: middle;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid $blue;
  box-shadow: none;
}

input.readonly:focus, select.readonly:focus, textarea.readonly:focus {
  border: 1px solid #d3e4f2;
  box-shadow: none;
}

input[type=text],input[type=file],input[type=password],input[type=submit],input[type=email],input[type=tel],select,textarea {
  appearance: none;
}

input[type=email] {
  box-shadow: none;
}

input[type=image] {
  padding: 0;
  border: none;
}

button::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,input[type=submit],input[type=button] {
  cursor: pointer;
}

button:focus,input[type=submit]:focus,input[type=button]:focus {
  outline: 0;
  border: none;
  box-shadow: none;
}

.hidden {
  display: none;
}

a {
  color: $grey;
  text-decoration: none;
  transition: all .3s ease;
  display: inline-block;
}

a:active, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  border-color: transparent;
  color: $blue;
}

a img {
  border: none;
}

img {
  display: block;
  height: auto;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.heading-h2 {
  font-size: 28px;
  line-height: 33px;
  @include rmin(768) {
    font-size: 36px;
    line-height: 42px;
  }
}

.icon-instagram, .icon-tw, .icon-fb, .icon-linkedin {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

b,em,h1,h2,h3,h4,h5,h6,i,label,p,span,strong {
  max-width: 100%;
  word-wrap: break-word;
}

div {
  word-wrap: break-word;
}

.btn {
  background: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: .06em;
  padding: 10px 15px;
  transition: all .3s ease;
  white-space: nowrap;
  &:hover, &:focus, &:active {
      background: $medium-blue;
      color: $white;
  }
}