@mixin anim{
	transition: all .3s ease;
}
@mixin anim-linear{
	transition: all .3s linear;
}

// Button sizes
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

/*FONTS*/
@mixin fr {font-family: 'Univers-Roman',sans-serif;}
@mixin fb {font-family: 'Univers-Bold',sans-serif;}
@mixin fvb {font-family: 'Viessmann-Bold',sans-serif;}
@mixin fl {font-family: 'Univers-Light',sans-serif;}

/*images*/

@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

// vertical-align at center
@mixin vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); }


/*=======================START-MEDIA=====================*/
@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; } }

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content; } }

@mixin rminmax($widthmin, $widthmax) {
  @media only screen and (min-width: $widthmin+ "px") and (max-width: $widthmax+ "px") {
    @content; } }

/*=======================END-MEDIA=====================*/

//placeholder
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}