.banner {
    background: 0 50% no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    z-index: 1;
    margin-bottom: 94px;
    &:after {
        background: rgba(47, 48, 58, 0.4);
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        z-index: -1;
    }
    &__info {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
    }
    &__title {
        color: $white;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        max-width: 696px;
        vertical-align: middle;
        margin: 0px auto 30px;
        letter-spacing: .06em;
    }
    &__btn {
        min-width: 216px;
    }
}